/* Selector {
    property: value;
} */
body{
    background-image: url(background.jpg);
    background-size: cover;
    color: whitesmoke;
}
h1 {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 20px 0px 20px 0px;
}
ul{
    background-color: black;
}
li{
    list-style: none;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    padding:10px 20px 10px 20px;
}
li:hover{
    transition: all 0.5s;
    background-color: white;
    color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.container img{
    width: 300px;
    height: 200px;
    transition: all 1s;
}

.container img:hover{
    transform: scale(1.1);
}